{% extends 'base.html' %}

{% block brand -%}
  <span>{% block title %}Feeds{% endblock %}</span>
{%- endblock %}

{% block menu -%}
  <a class="pseudo button" href="{{ url_for('main.posts') }}">Posts</a>
  <a class="pseudo button" href="{{ url_for('main.feeds_new') }}"
     hx-get="{{ url_for('main.feeds_new') }}"
     hx-target="body>main"
     hx-swap="beforeend"
     _="
on click
  set #menu's checked to false
  wait for htmx:afterSwap(elt) from body
  go to the bottom of elt smoothly
">Add Feed</a>
{%- endblock %}

{% block content -%}
  {% include 'main/partial/feeds.html' %}
{%- endblock %}
{#- vim: set filetype=htmldjango: #}
