{% extends 'base.html' %}

{% block header -%}
  <h1>{% block title %}Add Feed{% endblock %}</h1>
  <a class="action" href="{{ url_for('main.feeds') }}">Feeds</a>
{%- endblock %}

{% block content -%}
  {% set editable = True -%}
  {% include 'main/partial/feed.html' %}
{%- endblock %}
{#- vim: set filetype=htmldjango: #}
