{% extends 'base.html' %}

{% block brand -%}
  <span>{% block title %}Posts{% endblock %}</span>
{%- endblock %}

{% block menu -%}
  <a class="pseudo button" href="{{ url_for('main.feeds') }}">Feeds</a>
  <a class="pseudo button"
     href="{{ url_for('main.posts_refresh') }}"
     hx-get="{{ url_for('main.posts_refresh') }}"
     hx-indicator="#global-indicator"
     hx-target="body>main"
     _="on click set #menu.checked to false">Refresh</a>
{%- endblock %}

{% block content -%}
{% include 'main/partial/posts.html' %}
{%- endblock %}
{#- vim: set filetype=htmldjango: #}
