{% extends 'base.html' %}

{% block head -%}
  <script defer src="/static/js/zooming.min.js"></script>
  <script defer>
    document.addEventListener('DOMContentLoaded', () => {
      new Zooming({
        zIndex: 9999999,
      }).listen('body>main img');
    });
  </script>
  <style>
  </style>
{%- endblock %}

{% block brand -%}
  <span>Kormushka</span>
{%- endblock %}

{% block menu -%}
  <a class="pseudo button" href="{{ url_for('main.posts') }}">Posts</a>
  <a class="pseudo button" href="{{ post.link }}">Original post</a>
{%- endblock %}

{% block content -%}
  <article class="post">
    <header>
      <h2>{% block title %}{{ post.title }}{% endblock %}</h2>
      {%- if post.feed_title %}
      <p class="feed">From <a href="{{ url_for('main.feed', id=post.feed_id) }}">{{ post.feed_title }}</a></p>
      {%- endif %}
      {%- if post.published %}
      <p>Published <time value="{{ post.published }}">{{ post.published }}</time></p>
      {%- endif %}
      {%- if post.author %}
      <p>By <span class="author">{{ post.author }}</span></p>
      {%- endif %}
      <hr>
    </header>
    <main>{{ post.summary | sanitize | trim }}</main>
  </article>
{%- endblock %}
{#- vim: set filetype=htmldjango: #}
