body > main {
  padding: .6em 8px;
  max-width: 960px;
  margin: 0 auto;
}

.page-separator {
  display: flex;
  justify-content: center;
}

nav {
  position: sticky;
  box-shadow: 0 0 .2em gray;
}

img.icon {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
}

/* ugly hack to counter margin-bottom on articles */
#lazy-loader {
  margin-top: -.6em;
}

#global-indicator {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  pointer-events: none;
  background-color: hsla(0, 0%, 100%, 0.8);
  opacity: 0;
}

#global-indicator.htmx-request {
  opacity: 1;
  transition: opacity 200ms;
}

#global-indicator > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post > main {
  text-align: justify;
}

.post.card > main {
  padding: 8px;
}

body>main img {
  max-width: calc(100vw - 16px);
}

body {
  height: auto; /* undo normalize.css */
}

.card {
  box-shadow: 1px 1px 16px -8px gray;
}
