{% if continuation %}<hr>
{% endif %}
{% for feed in feeds -%}
  <article class="feed"
           {#- newline is significant -#}
           {%- if loop.last %}

           hx-get="{{ url_for('main.feeds', page=page+1) }}"
           hx-trigger="revealed"
           hx-swap="afterend"
           {%- endif %}>
    <header>
      <p>{{ feed['title'] }}</p>
    </header>
    <a class="edit"
       href="{{ url_for('main.edit_feed', feed=feed['id' ]) }}"
       hx-get="{{ url_for('main.edit_feed', feed=feed['id' ]) }}"
       hx-target="closest article.feed"
       hx-swap="outerHTML"
       >Edit</a>
    <a class="delete"
       href="{{ url_for('main.delete_feed', feed=feed['id']) }}"
       hx-delete="{{ url_for('main.feed', id=feed['id']) }}"
       hx-confirm="Are you sure you want to delete feed '{{ feed['title'] }}'?"
       hx-target="closest article.feed"
       hx-swap="outerHTML"
       >Delete</a>
  </article>
  {% if not loop.last %}<hr>
  {% endif %}
{% endfor %}
{# vim: set filetype=htmldjango: #}
