{% if action %}
  {%- include 'invalid action: ' ~ action.__repr__() -%}
{% endif -%}

{% if editable not in (True, False) %}
  {%- include 'invalid editable: ' ~ editable.__repr__() -%}
{% endif -%}

{% if editable -%}
{% set target = 'closest form' -%}
<form class="card"
      method="POST"
      {%- if feed %}
      action="{{ url_for('main.feed_upsert', id=feed.id) }}"
      hx-post="{{ url_for('main.feed_upsert', id=feed.id) }}"
      {%- else %}
      action="{{ url_for('main.feed_upsert') }}"
      hx-post="{{ url_for('main.feed_upsert') }}"
      {%- endif %}
      hx-target="this"
      hx-swap="outerHTML">
{%- else -%}
{% set target = 'closest article' -%}
<article {% if feed -%}
         id="feed-{{ feed.id }}" {% endif -%}
         class="feed card"
         {%- if hotload %}
         hx-get="{{ url_for('main.feeds', page=page+1) }}"
         hx-trigger="revealed"
         hx-target="this"
         hx-swap="afterend"
         {%- endif %}>
{%- endif %}
  {%- if feed %}
  {%- set title_id = 'feed-' ~ feed.id ~ '-title' %}
  {%- set url_id = 'feed-' ~ feed.id ~ '-url' %}
  {%- else %}
  {%- set title_id = 'title' %}
  {%- set url_id = 'url' %}
  {%- endif %}
  {%- if editable %}
  <header>
    {%- if feed %}
    <h3>Edit feed '{{ feed.title }}'</h3>
    {%- else %}
    <h3>New feed</h3>
    {%- endif %}
  </header>
  <table>
    <tr>
      <td><label for="{{ title_id }}">title</label></td>
      <td><input type="text" id="{{ title_id }}" name="title" value="{{ feed.title if feed else '' }}"></td>
    </tr>
    <tr>
      <td><label for="{{ url_id }}">URL</label></td>
      <td><input type="url" id="{{ url_id }}" name="url" value="{{ feed.url if feed else '' }}"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Save"></td>
    </tr>
  </table>
  {%- else %}
  <header>
    <h3>{{ feed.title or 'Untitled №'~feed.id }}</h3>
  </header>
  <p>{{ feed.url }}</p>
  {%- endif %}
  <footer>
    {%- if not editable %}
    <a href="{{ url_for('main.feed', id=feed.id, editable=1) }}"
       class="button"
       hx-get="{{ url_for('main.feed', id=feed.id, editable=1) }}"
       hx-target="{{ target }}"
       hx-swap="outerHTML">Edit</a>
    {%- endif %}
    {%- if editable and feed %}
    <a href="{{ url_for('main.feed', id=feed.id) }}"
       class="button"
       hx-get="{{ url_for('main.feed', id=feed.id) }}"
       hx-target="{{ target }}"
       hx-swap="outerHTML">Cancel</a>
    {%- endif %}
    {%- if feed %}
    <input type="submit" class="error" value="Delete" form="feed-{{ feed.id }}-delete">
    {%- endif %}
  </footer>
{%- if editable %}
</form>
{%- else %}
</article>
{%- endif %}
{%- if feed %}
<form id="feed-{{ feed.id }}-delete"
      method="POST"
      action="{{ url_for('main.feed_delete', id=feed.id) }}"></form>
{%- endif %}
{#- vim: set filetype=htmldjango: #}
