<article id="post-{{ post.id | enc64 }}" class="post card">
  <header>
    <h3><a href="{{ url_for('main.post', id=(post.id | enc64)) }}">{{ post.title }}</a></h3>
    {%- if post.feed_title %}
    <p class="feed">From <a href="{{ url_for('main.feed', id=post.feed_id) }}">{{ post.feed_title }}</a></p>
    {%- endif %}
  </header>
  {%- if post.summary %}
  <main>
    {{ post.summary | strip_html | truncate }}
  </main>
  {%- endif %}
</article>
{#- vim: set filetype=htmldjango: #}
