<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Kormushka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="white">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/picnic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/htmx.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/hyperscript.min.js') }}"></script>
    {% block head %}{% endblock %}
  </head>
  <body _="on htmx:responseError(error) alert(error)">
    <nav>
      <a class="brand" href="/">
        {% block brand %}<span>Kormushka</span>{% endblock %}
      </a>
      <input id="menu" type="checkbox" class="show">
      <label for="menu" class="burger pseudo button">&#8801;</label>
      <div class="menu">
        {% block menu %}{% endblock %}
      </div>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
    </footer>
    <div id="global-indicator">
      <img alt="loading indicator" src="{{ url_for('static', filename='loading.svg') }}">
    </div>
  </body>
</html>
{#- vim: set filetype=htmldjango: #}
